[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
flask-restplus = "*"
flask = "*"
python-dotenv = "==0.10.3"
pytest-flask = "*"
flask-sqlalchemy = "==2.4.1"
"psycopg2" = "==2.8.4"
flask-migrate = "==2.5.2"
requests = "*"
scikit-learn = "==0.23.1"
beautifulsoup4 = "*"
pyyaml = "*"
nltk = "*"
goose3 = "*"
pandas = "*"
proxybroker = "*"
nest-asyncio = "*"
gensim = "*"
cython = "*"
pytest = "==6.1.2"
werkzeug = "*"

[dev-packages]
pylint = "*"
ipykernel = "*"
rope = "*"

[requires]
python_version = "3.8.*"
