[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
typing-extensions = "*"

[packages]
strsimpy = "*"
fuzzywuzzy = "*"
pyqt5 = "*"
colorama = "*"
tqdm = "*"
gensim = "==3.8.3"
pandas = "*"
aiohttp = "*"
nltk = "*"
sklearn = "*"
goose3 = "*"
pyyaml = "*"
beautifulsoup4 = "*"
readability-lxml = "*"

[requires]
python_version = "3.8"
